div {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: #1f2937;
    color: white;
}


.nav {
    display: flex;
}

.nav-right li a {
    text-decoration: none;
    color: white;
}

.nav-right {
    margin-left: auto;
    min-width: 400px;
}

.nav-left {
    display: flex;
    margin-right: auto;
    align-items: center;
    min-width: 90px;
    font-size: 24px;
    color: f9faf8;
}

.nav-right ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-main {
    display: flex;
    
}

.left {
    flex: 1;
    margin: 80px 30px 80px 200px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.right {
    flex: 1;
    display: flex;
    margin: 80px 200px 80px 30px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 30px;
}

.card {
    margin: 0px 10px;
    min-width: 80px;
    flex: 1;
}

.square {
    height: 100px;
}